{% extends "base.html" %}
{% block content %}

<h2 class="text-center mb-4">NYC Crash Analysis Website</h2>

<div class="row justify-content-center">

    <div class="col-md-3">
        <div class="card shadow text-center p-4">
            <h5>Total Crashes</h5>
            <h2>{{ total_crashes }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow text-center p-4">
            <h5>Total Injuries</h5>
            <h2>{{ total_injuries }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow text-center p-4">
            <h5>Total Fatalities</h5>
            <h2>{{ total_fatal }}</h2>
        </div>
    </div>

</div>

{% endblock %}
